
@import "navbar";

.loading-container {
	height: 12px;
	width: 50%;
	background-color: $secondColor;
	border-radius: 6px;
	margin-top: 1rem !important;
	.loading-scroll {
		height: 100%;
		width: 6%;
		border-radius: 6px;
		background-color: #fff;
		animation: loading-logo 1.2s infinite alternate ease-in-out;
	}
	@keyframes loading-logo {

		0% {
			transform: translateX(0px);
		}
		100% {
			transform: translateX(47vw);
		}
	}
}