@import "navbar";

.download-section {
	color: $secondColor;
	$margin: 2rem;
	margin-top: $margin;
	margin-bottom: $margin;
	p.header {
		font-weight: 500;
		font-size: 1.7rem;
	}
	p {
		font-size: 1.3rem;
	}
	input {
		border: 1px solid $mainColor;
		box-sizing: border-box;
		border-radius: 10px;
		width: 32%;
		padding: 0.3rem;
		margin-right: 1rem;
	}
	input::placeholder {
		padding-left: 1rem;
	}
	button {
		@extend %main-btn;
	}
}

.informations-section {
	.col-3 {
		img {
			margin: auto;
			display: block;
		}
		p:first-of-type {
			font-weight: 500;
			margin-bottom: 0.3rem;
			margin-top: 0.5rem;
		}
		p {
			font-size: 0.8rem;
		}
	}
}

.buy-coffe-section {
	border: 1px solid #E3140E;
	box-sizing: border-box;
	border-radius: 10px;
	width: 65%;
	$padding: 0.5rem;
	padding-top: $padding;
	padding-bottom: $padding;
	margin-top: 2rem !important;
	margin-bottom: 1rem !important;
	p {
		color: $mainColor;
	}
}