{% extends 'base.html' %}
{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-white main_navbar">
		<a class="navbar-brand" href="/">
			<img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="Scraspy logo" class="logo">
		</a>
		<div class="ml-auto">
			<ul class="navbar-nav d-flex align-items-center">
				<li class="nav-item active">
					<a class="nav-link" href="#" id="settings">Settings</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="#" id="list-files">List Files</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<button class="btn">Get Files</button>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<iframe src="{{ website }}" frameborder="0" class="w-100 h-100vh iframe"></iframe>
	<div class="get-files-section d-none">
		<div class="containe-fluid">
			<div class="row m-0">
				<div class="col-8"></div>
				<div class="col-4 files-preview">
					<div class="row mt-4 files-navbar">
						<div class="col-1 mt-3" id="close-get-files">
							<img src="{{ url_for('static', filename='assets/closeIcon.svg') }}" alt="">
						</div>
						<div class="col-11">
							<div class="row">
								<div class="col-3 html active">
									<img src="{{ url_for('static', filename='assets/htmlIcon.svg') }}" alt="html icon" class="d-block m-auto">
									<p class="text-center mt-2 text-bold-main">HTML (3)</p>
								</div>
								<div class="col-3 css">
									<img src="{{ url_for('static', filename='assets/cssIcon.svg') }}" alt="css icon" class="d-block m-auto">
									<p class="text-center mt-2 text-bold-main">CSS (4)</p>
								</div>
								<div class="col-3 js">
									<img src="{{ url_for('static', filename='assets/jsIcon.svg') }}" alt="js icon" class="d-block m-auto">
									<p class="text-center mt-2 text-bold-main">JS (7)</p>
								</div>
								<div class="col-3 assets">
									<img src="{{ url_for('static', filename='assets/assetsIcon.svg') }}" alt="assets icon" class="d-block m-auto">
									<p class="text-center mt-2 text-bold-main">Assets (54)</p>
								</div>
							</div>
						</div>
					</div>
					<ul class="list-unstyled files-list mt-4">
						<li>
							<img src="{{ url_for('static', filename='assets/fileIcon.svg') }}" alt="file icon" class="mr-2 ml-4 my-3">
							<p class="d-inline">https://kirwako.com/</p>
						</li>
						<li>
							<img src="{{ url_for('static', filename='assets/fileIcon.svg') }}" alt="file icon" class="mr-2 ml-4 my-3">
							<p class="d-inline">https://kirwako.com/about</p>
						</li>
						<li>
							<img src="{{ url_for('static', filename='assets/fileIcon.svg') }}" alt="file icon" class="mr-2 ml-4 my-3">
							<p class="d-inline">https://kirwako.com/contact</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="settings-section d-none">
		<div class="containe-fluid">
			<div class="row m-0">
				<div class="col-8"></div>
				<div class="col-4 settings-preview p-0">
					<div class="mt-4 settings-navbar">
						<img src="{{ url_for('static', filename='assets/closeIcon.svg') }}" alt="close popup" class="ml-3" id="close-get-settings">
						<p class="pt-1 ml-4 d-inline header">Download Settings</p>
					</div>
					<p class="main-color text-center mt-4">website to download</p>
					<input type="text" placeholder="Paste website link here..." class="d-block website-name" value="www.kirwako.com">
					
					<div class="row radio-inputs mt-4 mx-2">
						<div class="col-6">
							<input type="radio" id="offline" name="version" checked>
							<label for="offline">Offline Version</label>
							<p class="input-more-info">Download the pages and internal and external assets, with all asset references and links converted to work offline.</p>
							<input type="radio" id="online" name="version">
							<label for="online">Online Version</label>
							<p class="input-more-info">Download the pages and internal assets, with no changes to the original files.</p>
						</div>
						<div class="col-6">
							<input type="radio" id="all-pages" name="pages">
							<label for="all-pages">All Pages</label>
							<p class="input-more-info">Download all the pages from the domain kirwako.com and all of it's subdomains.</p>
							<input type="radio" id="first-page" name="pages" class="mt-4" checked>
							<label for="first-page">First Page</label>
							<p class="input-more-info">Download only the first page.</p>
						</div>
						<div class="ml-auto mr-4">
							<button class="btn">Save Changes</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
<!-- 
	<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
{% endblock %}