{% extends 'base.html' %}
{% block body %}
	<nav class="navbar navbar-expand-lg navbar-light bg-white main_navbar">
		<a class="navbar-brand" href="/">
			<img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="Scraspy logo" class="logo">
		</a>
		<div class="ml-auto">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Website</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Youtube</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Facebook</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About us</span></a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="pt-5 mt-5">
		<img src="{{ url_for('static', filename='assets/loadingLogo.svg') }}" alt="loading scraspy" class="img-fluid d-block m-auto">
		<div class="loading-container m-auto">
			<div class="loading-scroll">

			</div>
		</div>
	</div>
{% endblock %}